.container {
    width: 100%;
    padding: 20px;
    background-image: url("http://www.northlandwoodcouncil.co.nz/images/nz-forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.btn{
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Gaegu', cursive;
}