.header{
    background-color: black;
    color: oldlace;
    height: 150px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    margin-bottom: 30px;
}

h1, h5{
    background-color: black;
}